<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Internal assets -->
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}

    <!-- Tab display -->
    <title>{{ title }}</title>
    <!-- <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.svg') }}"> -->
</head>
<body>

    <header>
        <nav>
            {% if current_user.is_authenticated %}
            <a class="menu-item" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a class="menu-item" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
