<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Internal assets -->
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}

    {% block head %}
    {% endblock head %}

    <!-- Tab display -->
    <title>{{ title }}</title>
    <!-- <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.svg') }}"> -->
</head>
<body>

    <header>
        <!-- Nav -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container">
                <a href="/" class="navbar-brand">
                    {% cache 86400, 'profile' %}
                    <img src="{{ url_for('static', filename='img/aat-logo.svg') }}" alt="Logo" height="50px">
                    {% endcache %}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- NAV ITEMS -->
                    <ul id="nav-items-right" class="navbar-nav ms-auto fs-3">
                        <!-- Show when logged in -->
                        {% if current_user.is_authenticated %}


                        {% if current_user.user_type == 'staff' %}
                            <!-- Staff menu items -->
                            <li class="nav-item mx-auto">

                            <li class="nav-item mx-auto">
                                <a class="nav-link" href="{{ url_for('questions') }}">Questions</a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link" href="{{ url_for('student_list') }}">Students</a>
                            </li>
                            <li class="nav-item dropdown mx-auto">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    New
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="{{ url_for('create_question_type1') }}">Fill in the Blank</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('create_question_type2') }}">Multiple Choice</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ url_for('create_formative_assessment') }}">Formative Assessment</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('create_summative_assessment') }}">Summative Assessment</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li class="nav-item mx-auto">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- END NAV ITEMS -->
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- Main content -->
        {% block content %}
        {% endblock content %}
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="flash-list">
                    {% for message in messages %}
                        <li class="alert alert-warning d-flex align-items-center" role="alert">
                            <p>{{ message }}</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </main>
    <footer>

    </footer>
</body>
</html>
