{% extends 'base.html' %}

{% block content %}
<section id="qt2" class="container">
    <div class="card">

        <div class="card-header">
            <h1>Multiple Choice</h1>
        </div>

        <div class="card-body">
            <form action="" method="POST">
                {{ form.csrf_token }}
        
                <p>
                    {{ form.title.label }}
                    {{ form.title(size=20, class="form-control") }}
                </p>
        
                {% if form.title.errors %}
                    <ul class="errors">
                        {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <p>
                    {{ form.question_text.label }}
                    {{ form.question_text(size=20, class="form-control") }}
                </p>
        
                {% if form.question_text.errors %}
                    <ul class="errors">
                        {% for error in form.question_text.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        
                <p>
                    {{ form.option1.label }}
                    {{ form.option1(size=20, class="form-control") }}
                </p>
        
                {% if form.option1.errors %}
                <ul class="errors">
                    {% for error in form.option1.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        
                <p>
                    {{ form.option2.label }}
                    {{ form.option2(size=20, class="form-control") }}
                </p>
        
                {% if form.option2.errors %}
                <ul class="errors">
                    {% for error in form.option2.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        
                <p>
                    {{ form.option3.label }}
                    {{ form.option3(size=20, class="form-control") }}
                </p>
        
                {% if form.option3.errors %}
                <ul class="errors">
                    {% for error in form.option3.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        
                <p>
                    {{ form.option4.label }}
                    {{ form.option4(size=20, class="form-control") }}
                </p>
        
                {% if form.option4.errors %}
                <ul class="errors">
                    {% for error in form.option4.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        
                <p>
                    {{ form.correctOption.label }}
                    {{ form.correctOption(size=20, class="form-control") }}
                </p>
        
                {% if form.correctOption.errors %}
                <ul class="errors">
                    {% for error in form.correctOption.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p>
                    {{ form.difficulty.label }}
                    {{ form.difficulty(class='form-select') }}
                </p>
                {{ form.Submit(class="btn btn-primary") }}
            </form>

        </div>
    </div>


</section>
{% endblock %}
