{% extends "home.html" %}

{% block content %}

<h1>Create Questions</h1>
<p>
    A place for you to create multiple choice questions
</p>
<br>
<form id="quickForm" action="/addquestion" method="POST">
    
    <div class="input-group">
        <input type="text" class="form-control" name="question" placeholder="Type Question...">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" name="op1" placeholder="Option 1">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" name="op2" placeholder="Option 2">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" name="op3" placeholder="Option 3">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" name="op4" placeholder="Option 4">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" name="correctOption" placeholder="Correct Option">
    </div>

    <div style="font-size: 30px; margin-top: 1.5rem;">
        <button type="submit" class="button">Add Question</button>
    </div>
</form>

<p>
    Maybe this button should add to the database, and then return to the add question page so you can add multiple
</p>

<p>
    Or add multiple forms and then they all get pushed on one button click?
</p>


<p>
    <a href="{{ url_for('questions') }}" class="button">Here you can see all the questions made!</a>
</p>

{% endblock content%}

