{% extends "base.html" %}

{% block head %}
{% assets "table" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}

<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Students</h1>
        </div>

        <div class="card-body">
            <table id="data-student-list" class="table table-striped table-hover">
                <thead>
                    <th scope="col">Student Number</th>
                    <th scope="col">Student Name</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr class="clickable-row" data-href="{{ url_for('student_stats_page', id=student.id) }}">
                        <td>{{ student.id }}</td>
                        <td>{{ student.first_name }} {{ student.surname }}</td>
                        <td><a href="{{ url_for('student_stats_page', id=student.id) }}" data-toggle="tooltip" title="Statistics"><i class="fa-solid fa-chart-simple fa-large fa-fw"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock content %}
