{% extends 'base.html' %}

{% block content %}
<section class="container">
    <a class="btn btn-primary" href="{{ url_for('view_assessments') }}">Back to assessments</a>
</section>
<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{assignment.title}}</h1>
        </div>
        <div class="card-body">
            <form action="{{url_for('submit_assessment', assessment_id = assignment.id)}}" id = "form" method="POST">
                <input type="hidden" name="assessment_id" value="{{ assignment.id }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                {% for question in questions %}
                <div class="question">
                        {% if question.question_type == "question_type1" %}
                        <div class="question_type1">
                            <label class ="form-label" for="{{ loop.index }}_answer" id="question_template">
                                {{ loop.index }}. {{ question.question_template|safe }} 
                            </label>

                            <div id="type_1_options">
                                {% for option in question.options %}
                                    <option class="border" draggable="true" ondragstart="onDragStart(event)" value = "{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class="question_type2">
                            <label class="form-label" id="question_text">
                                {{ loop.index }}. {{ question.question_text}}
                            </label>
                            
                            <div class="radio_options">
                                <div class="radio_option">
                                <input class= "form-check-input" id="flexRadioDefault1" type="radio" name="{{ loop.index }}" id="type2_radio" value="{{ question.option1 }}"> 
                                <label class="form-check-label">{{ question.option1 }}</label>
                                </div>
                                <div class="radio_option">
                                <input class="form-check-input" id="flexRadioDefault1" type="radio" name="{{ loop.index }}" id="type2_radio" value ="{{ question.option2 }}"> 
                                <label class="form-check-label">{{ question.option2 }}</label>
                                </div>
                                <div class="radio_option">
                                <input class= "form-check-input" id="flexRadioDefault1" type="radio" name="{{ loop.index }}" id="type2_radio" value ="{{ question.option3 }}"> 
                                <label class="form-check-label">{{ question.option3 }}</label>
                                </div>
                                <div class="radio_option">
                                <input class= "form-check-input" id="flexRadioDefault1" type="radio" name="{{ loop.index }}" id="type2_radio" value ="{{ question.option4 }}"> 
                                <label class="form-check-label">{{ question.option4 }}</label>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                <input type="submit" class="btn btn-primary" id="submit-formative" value="Submit">
            </form>
        </div>
    </div>
</section>
{% endblock content %}
