{% extends "base.html" %}

{% block content %}
<section id="view-qt1" class="container" style="max-width: 800px;">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h1>{{ question.title }}</h1>
            <span>
                {% if question.difficulty %}
                    {% if question.difficulty == "Very Easy" %}
                        <span class="badge bg-very-easy">Very Easy</span>
                    {% elif question.difficulty == "Easy" %}
                        <span class="badge bg-easy">Easy</span>
                    {% elif question.difficulty == "Medium" %}
                        <span class="badge bg-medium">Medium</span>
                    {% elif question.difficulty == "Hard" %}
                        <span class="badge bg-hard">Hard</span>
                    {% elif question.difficulty == "Very Hard" %}
                        <span class="badge bg-very-hard">Very Hard</span>
                    {% endif %}
                {% endif %}
            </span>
        </div>
        <div class="card-body text-center my-2">
            <p class="h3 fw-normal my-2">{{ question.question_text }}</p>
            <!-- <p class="h3 fw-normal my-2">Options</p> -->
            {% if question.option1 %}
                {% if question.option1 == question.correctOption %}
                    <span class="btn btn-success">{{ question.option1 }}</span>
                {% else %}
                    <span class="btn btn-secondary my-2">{{ question.option1 }}</span>
                {% endif %}
            {% endif %}

            {% if question.option2 %}
                {% if question.option2 == correctOption %}
                    <span class="btn btn-success">{{ question.option2 }}</span>
                {% else %}
                    <span class="btn btn-secondary my-2">{{ question.option2 }}</span>
                {% endif %}
            {% endif %}

            {% if question.option3 %}
                {% if question.option3 == correctOption %}
                    <span class="btn btn-success">{{ question.option3 }}</span>
                {% else %}
                    <span class="btn btn-secondary my-2">{{ question.option3 }}</span>
                {% endif %}
            {% endif %}

            {% if question.option4 %}
                {% if question.option4 == question.correctOption %}
                    <span class="btn btn-success">{{ question.option4 }}</span>
                {% else %}
                    <span class="btn btn-secondary my-2">{{ question.option4 }}</span>
                {% endif %}
            {% endif %}
        
            <!-- <p class="h3 fw-normal my-2">Difficulty</p> -->
        </div>
        <div class="card-footer">
            <a class="btn btn-primary float-end" href="{{ url_for('questions') }}">Back</a>
        </div>
    </div>
</section>

{% endblock content%}
