<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% for assignment in assignments %}
        {% if assignment.active == True %}
        <div id="assignment_information">
            <a href="{{ url_for('view_assessment', assessment_id = assignment.id)}}">{{ assignment.title }}</a>
            {% for module in modules %}
                {% if assignment.module_id == module.id %}
                    {{ module.name }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
</body>
</html>