{% extends 'base.html' %}

{% block content %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Available Assessments</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Assessment</th>
                        <th scope="col">Module</th>
                        <th scope="col" class="text-center">Highest Mark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in assignments %}
                        {% if assignment.active == True %}
                            {% for item in assignment.module.get_students() %}
                                {% if current_user.id == item.id %}
                                    <tr>
                                        <td><a href="{{ url_for('view_assessment', assessment_id = assignment.id)}}">
                                            {{ assignment.title }}</a></td>
                                        <td>{{ assignment.module }}</td>
                                        {% if not assignment.mark %}
                                            <td class="text-center"><span class="badge bg-no-data">No data available</span></td>
                                        {% elif assignment.mark >= (assignment.total_mark)/2 %}
                                            <td class="text-center"><span class="badge bg-pass">{{ assignment.mark }}/{{ assignment.total_mark }}</span></td>
                                        {% else %}
                                            <td class="text-center"><span class="badge bg-fail">{{ assignment.mark }}/{{ assignment.total_mark }}</span></td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock content %}
