td.edit-buttons{
    display: flex;
    justify-content: end;

    a {
        padding-left: 15px;
    }
}

td.difficulty{
    display: flex;
    justify-content: center;
}

div#myTabContent{
    padding-top: 10px;
}

thead {
    color: $light;
    background-color: $dark;
}

tr > .edit-buttons > a:last-child:hover {
    color: $danger;
}
