body {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    background-color: lighten($primary, 40%);
}

.navbar {
    z-index: 9999999;

    img {
        transition-duration: 0.5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    .nav-link {
        color: $primary;

        &:hover {
            color: $secondary;
        }
    }
}

#flash-list {
    list-style: none;
    max-width: 400px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    p {
        padding-right: 20px;
        min-width: 200px;
        max-width: 380px;
    }

    button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
}