body {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    background-color: lighten($primary, 40%);

    .navbar {
        z-index: 9999999;
    }

    .nav-link {
        color: $primary;

        &:hover {
            color: inherit;
        }
    }
}