#list-question {

    #categories {
        color: $light;
        background-color: $dark;
        border-radius: 10px 0px 0px 0px;
    }

    .question {

        padding: 8px 0px;

        &:nth-child(odd){
            background-color: rgba($color: #000, $alpha: 0.1);
        }

        &:nth-child(even){
            background-color: rgba($color: #fff, $alpha: 0.1);
        }

        &:last-child{
            border-radius: 0px 0px 10px 10px;
        }
    }

    .btn {
        color: #000;
        background-color: inherit;

    }

    .btn-success:hover {
        background-color: $success;
    }

    .btn-warning:hover {
        background-color: $warning;
    }

    .btn-danger:hover {
        background-color: $danger;
    }
}