span.dropzone{
   display: flex; 
   min-width: 40px;
   max-width: fit-content;
   justify-content: center;
   height: 18px;
   position: relative;
   top: 5px;
   background-color: #3d71d890;
   padding: 2px;
   margin-left: 5px;
   margin-right: 5px;
}
