span.dropzone{
   display: flex; 
   min-width: 60px;
   max-width: fit-content;
   align-items: center;
   justify-content: center;
   justify-items: center;
   height: 24px;
   position: relative;
   background-color: #d2def6;
   padding: 5px;
   margin-left: 5px;
   margin-right: 5px;
}
