form {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .errors {
        color: red;
        list-style: none;
        padding: 0px 5px;
    }
}

#login {
    max-width: 500px;
}