form {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .errors {
        color: red;
        list-style: none;
        padding: 0px 5px;
    }
}


#login {
    max-width: 500px;
}

ul#add_question{
    list-style: none;
}

form #question_template{
    display: flex;
    flex-flow: row;
}

form #type_1_options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form #type_1_options option{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

form .question{
    padding-bottom: 5px;
}

form .radio_option{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

form .radio_options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
