a {
    color: inherit;
    text-decoration: none;

    &:visited {
        color: inherit;
    }

    &:hover {
        color: $primary;
    }

    &.btn:visited {
        color: $light;
    }
}

section {
    margin-top: 2em;
}

.text-small {
    font-size: 0.9em;
}

.card-header {
    color: $primary;
    background-color: $light;
}

td {
    vertical-align: middle;
}
