.stats-outer {
    padding: 0;
}

.stats-inner {
    border: none;
}

.graph {
    width: 100%;
}

.header-button {
    display: flex;
    flex-direction: row;
}

.header-button > :first-child {
    margin-right: auto;
    margin-bottom: auto;
}

.header-button > a {
    height: fit-content;
}

tfoot.filter {
    display: table-header-group;
}
