div#card-group{
    div.row{
        margin-bottom: 20px;
        a#top-button{
                margin-bottom: 20px;
            }
    }
}
div#full-screen-div{
    position: absolute;
    width: 100vw;
    height: calc(100vh - 76px);
}
 
