$primary: #3d71d8;
$secondary: orange;
$light: #fff;
$dark: #2a2a2a;
$success: green;
$warning: orange;
$danger: red;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "dark": $dark,
    "success": $success,
    "warning": $warning,
    "danger": $danger
);
