$primary: #3d71d8;
$secondary: orange;
$light: #fff;
$dark: #2a2a2a;
$warning: yellow;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "dark": $dark,
    "warning": $warning
);
