$primary: #3d71d8;
$secondary: orange;
$light: #fff;
$dark: #2a2a2a;

$success: green;
$warning: orange;
$danger: red;
$no-data: darkgray;
$pass: green;
$fail: red;
$easy: green;
$very-easy: lightgreen;
$medium: #CCCC00;
$hard: orange;
$very-hard: red;


$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "dark": $dark,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "no-data": $no-data,
    "pass": $pass,
    "fail": $fail,
    "easy": $easy,
    "very-easy": $very-easy,
    "medium": $medium,
    "hard": $hard,
    "very-hard": $very-hard
);
