{% extends "base.html" %}

{% block content %}
<h1>Login</h1>

<form method="POST" action="">
    {{ form.csrf_token }}

    <div class="form-element">
        {{ form.username.label }}
        {{ form.username }}
        {% if form.username.errors %}
        <div class="alert">
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-element">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
        <div class="alert">
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-element">
        {{ form.submit }}
    </div>
</form>
{% endblock content %}
