{% extends "base.html" %}

{% block head %}
    {% assets "graph" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "icons" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock head %}

{% block content %}
{% if assignment.number_of_submissions() > 0 %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ assignment.title }} - Performance</h1>
        </div>

        <div class="card-body stats-outer">
            <div class="card-group">
                <div class="card stats-inner">
                    <div class="card-body">
                        <h2>Overall Performance</h2>

                        <ul>
                            <li>Number of submissions: {{ assignment.number_of_submissions() }}</li>
                            <li>Number of students who have submitted: {{ assignment.number_of_students_submitted()}}</li>
                            <li>Number of students who have not submitted: {{ assignment.number_of_students_not_submitted()}}</li>

                            <li>Highest Mark: {{ assignment.highest_mark() }}</li>
                            <li>Lowest Mark: {{ assignment.lowest_mark() }}</li>
                            <li>Average Mark: {{ '%0.1f' | format( assignment.average_mark()) }}</li>
                        </ul>

                        <a class="btn btn-primary" href="{{ url_for('assessment_marks_export', id=assignment.id) }}"><i class="fa-solid fa-download"></i> Download Marks</a>
                        <a class="btn btn-primary" href="{{ url_for('assessment_marks_list', id=assignment.id) }}">View Marks</a>
                    </div>
                </div>

                <div class="card stats-inner">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="cohort-tab" data-bs-toggle="tab" data-bs-target="#cohort" type="button" role="tab" aria-controls="cohort" aria-selected="false" onclick="resize('overallGraphCohort')">Cohort</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                                <div id="overallGraph" class="graph"></div>

                                <script type="text/javascript">
                                {
                                    let data = barGraphData({{ assignment.mark_dist() }});
                                    displayGraph('overallGraph', 'Mark distribution', data);
                                }
                                </script>
                            </div>

                            <div class="tab-pane fade" id="cohort" role="tabpanel" aria-labelledby="cohort-tab">
                                <div id="overallGraphCohort" class="graph"></div>
                                <script type="text/javascript">
                                {
                                    let data = cohortBarGraphData({{ assignment.mark_dist_cohort() }});
                                    displayGraph('overallGraphCohort', 'Mark distribution by cohort', data);
                                }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% for number, question in assignment.get_questions().items() %}
{% set submissions = assignment.get_question_submissions(number) %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Question {{ number }} - {{ question.title }}</h2>
        </div>
        <div class="card-body stats-outer">
            <div class="card-group">
                <div class="card stats-inner">
                    <div class="card-body">
                        {% if question.question_type == 'question_type1' %}
                        <p>Question: {{ question.filled_in() | safe }}</p>
                        <p>Incorrect options: {{ question.incorrect_answers_string() }}</p>
                        {% elif question.question_type == 'question_type2' %}
                        <p>Question: {{ question.question_text }}</p>
                        <ul>
                            <li>{{ question.option1 }}</li>
                            <li>{{ question.option2 }}</li>
                            <li>{{ question.option3 }}</li>
                            <li>{{ question.option4 }}</li>
                        </ul>
                        <p>Correct answer: {{ question.correctOption }}</p>
                        {% endif %}
                        <h3>Question Performance</h3>
                        <ul>
                            <li>Average Mark: {{ '%0.1f' | format(question.average_mark(submissions)) }}</li>
                            <li>Lowest Mark: {{ question.lowest_mark(submissions) }}</li>
                            <li>Highest Mark: {{ question.highest_mark(submissions) }}</li>
                        </ul>
                        <a class="btn btn-primary" href="{{ url_for('assessment_question_stats', id=assignment.id, question_num=number) }}">Detailed question statistics</a>
                    </div>
                </div>

                <div class="card stats-inner">
                    <div class="card-body">
                    </div>
                </div>
        </div>
    </div>
</section>
{% endfor %}

{% else %}

<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ assignment.title }} - Stats</h1>
        </div>
        <div class="card-body">
            <p>There are currently no submissions for this assessment.</p>
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}
