{% extends "base.html" %}

{% block content %}
{% assets "graph" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<section class="container">
    <h1>{{ question.title }} - Stats</h1>

{# Include html file with code to display question here #}

{% if question.submissions | length > 0 %}
<ul>
    <li>Number of submissions: {{ question.submissions | length }}</li>
    <li>Number of correct submissions: {{ question.correct_submissions_number() }}</li>
    <li>Precentage of correct submissions: {{ question.correct_submissions_percent() }}</li>
</ul>
{% else %}
<p>There are currently no submissions for this question.</p>
{% endif %}

</section>

{% endblock content %}
