{% if submissions | length > 0 %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ question.title }} - Stats</h1>
        </div>

        {# Include html file with code to display question here #}

        <div class="card-body stats-outer">
            <div class="card-group">
                <div class="card stats-inner">
                    <div class="card-body">
                        <h2>Overall performance</h2>
                        {# Stats for the question as a whole #}
                        <ul>
                            <li>Number of submissions: {{ submissions | length }}</li>
                            <li>Number of blanks: {{ question.num_of_blanks() }}</li>
                            <li>Average Mark: {{ '%0.1f' | format(question.average_mark(submissions)) }}</li>
                            <li>Lowest Mark: {{ question.lowest_mark(submissions) }}</li>
                            <li>Highest Mark: {{ question.highest_mark(submissions) }}</li>
                        </ul>
                    </div>
                </div>

                <div class="card stats-inner">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="cohort-tab" data-bs-toggle="tab" data-bs-target="#cohort" type="button" role="tab" aria-controls="cohort" aria-selected="false">Cohort</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                                <div id="overallGraph" class="graph"></div>

                                <script type="text/javascript">
                                {
                                    let data = barGraphData({{ question.mark_dist(submissions) }});
                                    displayGraph('overallGraph', 'Mark distribution', data);
                                }
                                </script>
                            </div>

                            <div class="tab-pane fade" id="cohort" role="tabpanel" aria-labelledby="cohort-tab">
                                <div id="overallGraphCohort" class="graph"></div>

                                <script type="text/javascript">
                                {
                                    let data = cohortBarGraphData({{ question.marks_dist_cohort(submissions) }});
                                    displayGraph('overallGraphCohort', 'Mark distribution by cohort', data);
                                }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# Stats foreach blank word #}

{% for count in range(0, question.num_of_blanks()) %}
{% include "stats/question_type1_blank.html" %}
{% endfor %}

{% else %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ question.title }} - Stats</h1>
        </div>
        <div class="card-body">
            <p>There are currently no submissions for this question.</p>
        </div>
    </div>
</section>
{% endif %}
