{% if submissions | length > 0 %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ question.title }} - Performance</h1>
        </div>

        <div class="card-body stats-outer">
            <div class="card-group">
                <div class="card stats-inner">
                    <div class="card-body">
                        <p>Question: {{ question.filled_in() | safe }}</p>
                        <p>Incorrect options: {{ question.incorrect_answers_string() }}</p>
                        <h2>Performance</h2>
                        <ul>
                            <li>Number of blanks: {{ question.num_of_blanks() }}</li>
                        </ul>
                        {# Stats for the question as a whole #}
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Cohort</th>
                                    <th>Submissions</th>
                                    <th>Average Mark</th>
                                    <th>Lowest Mark</th>
                                    <th>Highest Mark</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cohort in question.cohorts() %}
                                <tr>
                                    <td>{{ cohort }}</td>
                                    <td>{{ question.cohort_submissions(cohort, submissions) | length }}</td>
                                    <td>{{ '%0.1f' | format(question.average_mark(question.cohort_submissions(cohort, submissions))) }}</td>
                                    <td>{{ question.lowest_mark(question.cohort_submissions(cohort, submissions)) }}</td>
                                    <td>{{ question.highest_mark(question.cohort_submissions(cohort, submissions)) }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>All</th>
                                    <th>{{ submissions | length }}</th>
                                    <th>{{ '%0.1f' | format(question.average_mark(submissions)) }}</th>
                                    <th>{{ question.lowest_mark(submissions) }}</th>
                                    <th>{{ question.highest_mark(submissions) }}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="card stats-inner">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="cohort-tab" data-bs-toggle="tab" data-bs-target="#cohort" type="button" role="tab" aria-controls="cohort" aria-selected="false" onclick="resize('overallGraphCohort')">Cohort</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                                <div id="overallGraph" class="graph"></div>

                                <script type="text/javascript">
                                {
                                    let data = barGraphData({{ question.mark_dist(submissions) }});
                                    displayGraph('overallGraph', 'Mark distribution', data);
                                }
                                </script>
                            </div>

                            <div class="tab-pane fade" id="cohort" role="tabpanel" aria-labelledby="cohort-tab">
                                <div id="overallGraphCohort" class="graph"></div>

                                <script type="text/javascript">
                                {
                                    let data = cohortBarGraphData({{ question.marks_dist_cohort(submissions) }});
                                    displayGraph('overallGraphCohort', 'Mark distribution by cohort', data);
                                }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# Stats foreach blank word #}

{% for count in range(0, question.num_of_blanks()) %}
{% include "stats/question_type1_blank.html" %}
{% endfor %}

{% else %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ question.title }} - Stats</h1>
        </div>
        <div class="card-body">
            <p>There are currently no submissions for this question.</p>
        </div>
    </div>
</section>
{% endif %}
