{# Setting variables #}
{% set correct_answer = question.list_correct_answers()[count] %}
{% set answers = question.answer_occur_for_blank(count) %}

{# Removing the correct answer to get a list of only incorrect answers #}
{% set incorrect_answers = answers | reject('equalto', (correct_answer, question.num_correct_for_blank(count))) | list %}

<section class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Blank {{ count+1 }} - {{ correct_answer }}</h2>
        </div>
        <div class="card-body stats-outer">
            <div class="card-group">
                <div class="card stats-inner">
                    <div class="card-body">
                        <ul>
                            <li>Number of correct submissions: {{ question.num_correct_for_blank(count) }}</li>
                            <li>Precentage of correct submissions: {{ '%0.1f' | format(question.correct_precentage_for_blank(count)) }}%</li>
                            {# Display the incorrect answers if there are any #}
                            {% if incorrect_answers | length > 0 %}
                            <li>Incorrect answers given:
                                {% for answer in incorrect_answers %}
                                {{ answer[0] }} ({{ answer[1] }}){% if not loop.last %},{% endif %}
                                {% endfor %}
                            </li>
                            {% endif %}
                        </ul>
                        {# <figure>
                            <figcaption>Table of answers with occurrences</figcaption>
                            <table>
                                <tr>
                                    <td>Answer</td>
                                    <td>Occurrences</td>
                                </tr>
                                {% for answer in answers %}
                                <tr>
                                    <td>{{ answer[0] }}</td>
                                    <td>{{ answer[1] }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </figure> #}

                    </div>
                </div>

                <div class="card stats-inner">
                    <div class="card-body">
                        <div id="blank{{ count }}Graph" class="graph"></div>

                        {% set answer_dict = dict(answers) %}
                        <script type="text/javascript">
                        {
                            let data = [
                                {
                                    x : {{ answer_dict.keys() | list | safe }},
                                    y : {{ answer_dict.values() | list }},
                                    type : 'bar'
                                }
                            ];
                            displayGraph('blank{{ count }}Graph', 'Blank {{ count+1 }} - submissions', data)
                        }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
