{% if submissions | length > 0 %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ question.title }} - Performance</h1>
        </div>

        <div class="card-body stats-outer">
            <div class="card-body">
                <p>Question: {{ question.question_text }}</p>
                <ul>
                    <li>{{ question.option1 }}</li>
                    <li>{{ question.option2 }}</li>
                    <li>{{ question.option3 }}</li>
                    <li>{{ question.option4 }}</li>
                </ul>
                <p>Correct answer: {{ question.correctOption }}</p>
            </div>

            <div class="card-group">
                <div class="card stats-inner">
                    <div class="card-body">
                        <h2>Performance</h2>
                        <ul>
                            <li>Number of submissions: {{ submissions | length }}</li>
                            <li>Number of correct submissions: {{ question.correct_submissions_number(submissions) }}</li>
                            <li>Precentage of correct submissions: {{ '%0.1f' | format(question.correct_submissions_percent(submissions)) }}%</li>
                        </ul>
                    </div>
                </div>

                <div class="card stats-inner">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="cohort-tab" data-bs-toggle="tab" data-bs-target="#cohort" type="button" role="tab" aria-controls="cohort" aria-selected="false" onclick="resize('optionsGraphCohort')">Cohort</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">

                                <div id="optionsGraph" class="graph"></div>
                                <script type="text/javascript">
                                {
                                    let data = barGraphData({{ question.option_choice_quantity(submissions) | safe }});
                                    displayGraph('optionsGraph', 'Options', data);
                                }
                                </script>

                            </div>

                            <div class="tab-pane fade" id="cohort" role="tabpanel" aria-labelledby="cohort-tab">
                                <div id="optionsGraphCohort" class="graph"></div>

                                <script type="text/javascript">
                                {
                                    let data = cohortBarGraphData({{ question.option_choice_quantity_cohort(submissions) | safe }});
                                    displayGraph('optionsGraphCohort', 'Options by cohort', data);
                                }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}

<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ question.title }} - Stats</h1>
        </div>
        <div class="card-body">
            <p>There are currently no submissions for this question.</p>
        </div>
    </div>
</section>
{% endif %}
