{% extends "base.html" %}

{% block head %}
    {% assets "graph" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock head %}

{% block content %}
{% if question.submissions | length > 0 %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ question.title }} - Stats</h1>
        </div>

        <div class="card-body stats-outer">
            <div class="card-group">
                <div class="card stats-inner">
                    <div class="card-body">
            {# Include html file with code to display question here #}

                        <ul>
                            <li>Number of submissions: {{ question.submissions | length }}</li>
                            <li>Number of correct submissions: {{ question.correct_submissions_number() }}</li>
                            <li>Precentage of correct submissions: {{ question.correct_submissions_percent() }}</li>
                        </ul>
                    </div>
                </div>

                <div class="card stats-inner">
                    <div class="card-body">
                        {% set options = question.option_choice_quantity() %}
                        <div id="optionsGraph" class="graph"></div>
                        <script type="text/javascript">
                            {
                                let data = [
                                    {
                                        x : {{ options.keys() | list | safe }},
                                        y : {{ options.values() | list }},
                                        type : 'bar'
                                    }
                                ];
                                displayGraph('optionsGraph', 'Options', data)
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}

<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ question.title }} - Stats</h1>
        </div>
        <div class="card-body">
            <p>There are currently no submissions for this question.</p>
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}
