<section class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ student.first_name }} {{ student.surname }} - Performance</h1>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Module</th>
                        <th scope="col">Completed Assessments</th>
                        <th scope="col">Incomplete Assessments</th>
                        <th scope="col">Average Mark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in student.modules %}
                    <tr>
                        <td><a href="#{{ module.code }}">{{ module.code }} - {{ module.name }}</a></td>
                        <td>{{ module.completed_assessments(student) }}</td>
                        <td>{{ module.not_completed_assessments(student) }}</td>
                        <td>
                            {% if module.completed_assessments(student) > 0 %}
                            {{ '%0.1f' | format(module.average_percent(student)) }}%
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% for module in student.modules %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title" id="{{ module.code }}">{{ module.code }} - {{ module.name }} performance</h2>
        </div>

        <div class="card-body">
            <h3>Module Stats</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Summative</th>
                        <th scope="col">Formative</th>
                        <th scope="col">All</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of assessments completed</td>
                        <td>{{ module.completed_assessments(student, 'summative_assignment') }}</td>
                        <td>{{ module.completed_assessments(student, 'formative_assignment') }}</td>
                        <td>{{ module.completed_assessments(student) }}</td>
                    </tr>
                    <tr>
                        <td>Number of assessments not completed</td>
                        <td>{{ module.not_completed_assessments(student, 'summative_assignment') }}</td>
                        <td>{{ module.not_completed_assessments(student, 'formative_assignment') }}</td>
                        <td>{{ module.not_completed_assessments(student) }}</td>
                    </tr>
                    <tr>
                        <td>Average precentage</td>
                        <td>
                            {% if module.completed_assessments(student, 'summative_assignment') > 0 %}
                            {{ '%0.1f' | format(module.average_percent(student, 'summative_assignment')) }}%
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if module.completed_assessments(student, 'formative_assignment') > 0 %}
                            {{ '%0.1f' | format(module.average_percent(student, 'formative_assignment')) }}%
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if module.completed_assessments(student) > 0 %}
                            {{ '%0.1f' | format(module.average_percent(student)) }}%
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Assessments</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Assessment</th>
                        <th scope="col">Assessment Type</th>
                        <th scope="col">Number of attempts</th>
                        <th scope="col">Mark</th>
                        <th scope="col">Precentage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asssignment in module.assignments %}
                    <tr>
                        <td>{{ asssignment.title }}</td>
                        <td>{{ asssignment.assignment_type | replace("_", " ") | title }}</td>
                        <td>
                            {% if asssignment.assignment_type == 'formative_assignment' %}
                            {{ asssignment.num_of_attempts(student) }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% set mark = asssignment.get_student_highest_mark(student) %}
                            {% if mark %}
                            {{ mark }} / {{ asssignment.max_mark() }}
                            {% else %}
                            No submission
                            {% endif %}
                        </td>
                        <td>
                            {% if mark %}
                            {{ '%0.1f' | format(asssignment.student_percentage(student)) }}%
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endfor %}
